html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Arial", sans-serif;
  background-color: #F2F2F2;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}
:root{
    --link-color:linear-gradient(135deg, #33D35E 0%, #2AB6D9 99.58%);
    --disc-color:  #9597A5;
    --head-color:#2D314D;

}
.site-header {
    width: 100%;
    position: fixed;
    z-index: 1;
    background-color: #fff;

}
.site-header-wrraper {
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.site-header-wrraper__logo-link {
    text-decoration: none;
}
.site-header-wrraper__logo-link-img {
    display: block;
}
.site-wrraper-list {
    padding: 0;
    display: flex;
}
.site-wrraper-list__item {
    list-style: none;
}
.site-wrraper-list__item:not(:last-child){
    margin-right: 30px;
}
.site-wrraper-list__item-link {
    font-size: 14px;
    line-height: 16px;
    letter-spacing: -0.107692px;
    text-decoration: none;
    color: var(--disc-color);
}
.site-wrraper-link {
    padding: 8px 36px 8px 33px;
    display: inline-block;
    font-weight: 500;
    font-size: 14px;
    line-height: 28px;
    border-radius: 22px;
    background-image: var(--link-color);
    color: #fff;
    text-decoration: none;
}
.site-main{
    padding-top: 50px;
}

.site-section {
    display: flex;
    align-items: center;
    min-height: 769px;
    background-image: url(../img/hero-phones-desktop.svg),url(../img/hero-bg-desktop.svg);
    background-size: 623px ,825px;
    background-repeat: no-repeat, no-repeat;
    background-position: calc(50% + 493px) , calc(50% + 386px);
 
}
.site-section__wrraper {
    padding: 0;
}


.site-section__wrraper-head {
    width: 394px;
    font-weight: 100;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: -1px;
    color: var(--head-color);
}
.site-section__wrraper-page {
    margin-top: 24px;
    margin-bottom: 36px;
    width: 447px;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.28125px;
    color: var(--disc-color);
}
.why-choose-easybank {
    padding: 0;

}

.why-choose-easybank__head {
    margin-bottom: 0;
    font-weight: 100;
    font-size: 40px;
    line-height: 64px;
    letter-spacing: -0.714286px;
    color: var(--head-color);

}
.why-choose-easybank__page {
    margin-top: 16px;
    margin-bottom: 0;
    width: 636px;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.28125px;
    color: var(--disc-color);
}
.main-easybank-list {
    padding: 0;
    margin-top: 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-easybank-list__item {
    list-style: none;
    
}
.main-easybank-list__item:not(:last-child){
    margin-right: 30px;
}
.main-easybank-list__head {
    margin-top: 40px;
    margin-bottom: 26px;
    font-weight: 100;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.428571px;
    color: var(--head-color);
}
.main-easybank-list__page {
    margin: 0;
    width: 255px;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: -0.25px;
    color: var(--disc-color);
}
.latest-articles {
    padding: 0;
    padding-top: 80px;
}

.latest-articles__head {
    margin-top: 0;
    margin-bottom: 40px;
    font-weight: 100;
    font-size: 40px;
    line-height: 64px;
    letter-spacing: -0.714286px;
}
.latest-articles-list {
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.latest-articles-list__item {
    list-style: none;
    background-color: #fff;
    border-radius: 5px;
}
.latest-articles-list__item:not(:last-child){
    margin-right: 30px;
}
.latest-articles-list__item-img {
    border-radius: 5px 5px 0px 0px;
}

.latest-articles-list__item-head {
    margin-left: 24px;
    margin-top: 25px;
    margin-bottom: 8px;
    font-size: 10px;
    line-height: 18px;
    letter-spacing: -0.15625px;
    color: var(--disc-color);
    }
.latest-articles-list__item-disc {
    margin-left: 24px;
    margin-top: 0;
    margin-bottom: 8px;
    width: 207px;
    font-weight: 100;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.285714px;
    color: var(--head-color);
}
.latest-articles-list__item-page {
    margin-left: 24px;
    margin-top: 0;
    width: 207px;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: -0.203125px;
    color: var(--disc-color);
}
.site-footer {
    background-color: var(--head-color);

}
.site-footer-wrraper {
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.site-footer-wrraper__content {
}


.site-footer-wrraper__logo-link {
    display: block;
    margin-top: 48px;

}

.site-footer-wrraper-list {
    margin-top: 55px;
    padding: 0;
    display: flex;

}
.site-footer-wrraper-list__item {
    list-style: none;
}
.site-footer-wrraper-list__item:not(:last-child){
    margin-right: 13px;
}
.site-footer-wrraper-list__item-link{
    color: white;
}
.site-footer-wrraper-list__item-link:hover {
    color: #30C88F;
    
}
.site-wrraper-list-content {
    margin-top: 49px;
    margin-right: auto;
    margin-left: 146px;
    padding: 0;
    display: flex;

}
.site-wrraper-list-content__item {
    display: flex;
    flex-direction: column;
    list-style: none;

}
.site-wrraper-list-content__item :not(:last-child){
    margin-right: 30px;
    
}
.site-wrraper-list-content__item-link {
    margin-bottom: 8px;
    font-size: 15px;
    line-height: 26px;
    letter-spacing: -0.234375px;
    text-decoration: none;
    color: #fff;
}
.site-wrraper-list-content__item-link:hover{
    color: #30C88F;
}

.site-wrraper-link--footer{
    margin-top: 49px;
    margin-left: 55px;
}
.site-footer-wrraper-last-content__page {
    margin-right: auto;
    margin-top: 24px;
    margin-bottom: 0;
    padding: 0;
    font-size: 15px;
    line-height: 26px;
    text-align: right;
    letter-spacing: -0.234375px;
    opacity: 0.5;
    color: #fff;

}
@media only screen and (max-width:450px){
    
    .site-header{
       max-width: 450px;
        position: fixed;
        z-index: 10;
        display: flex;
        padding-bottom: 0;
    }
    .site-header-wrraper{
        flex-direction: column;
        align-items: flex-start;
        padding-bottom: 30px;
        
    }
    .site-wrraper-link--mobile{
       display: none;
    }
    .site-wrraper-list{
        display: none;
    }
   .site-main{
     
   }

    .site-section{
    position: relative;
    z-index: 1;
    min-height: 327px;
    background-image: url(../img/hero-phones-mobile.svg) ,url(../img/bg-mobile.svg);
    background-size: 400px ,547px;
    background-position:  calc(50% + 4px) ,  calc(50% + 51px) ;

    }
    .site-section__wrraper{
        padding-left: 59px;
        position: absolute;
        z-index: 1;
        top: 100%;
        
    }

    .site-section__wrraper-head{
        max-width: 327px;
        font-weight: 100;
        font-size: 40px;
        line-height: 47px;
        text-align: center;
        letter-spacing: -0.714286px;
    }
    .site-section__wrraper-page{
        max-width: 327px;
        font-size: 15px;
        line-height: 25px;
        text-align: center;
        letter-spacing: -0.234375px;
    }
    .site-wrraper-link--main{
        margin-left: 81px;

    }
    .why-choose-easybank{
        margin-top: 100%;
        padding-left: 59px;
    }
    .why-choose-easybank__head{
        max-width: 327px;
        font-weight: 100;
        font-size: 32px;
        line-height: 38px;
        text-align: center;
        letter-spacing: -0.571429px;
    }
    .why-choose-easybank__page{
        width: 327px;
        font-size: 15px;
        line-height: 25px;
        text-align: center;
        letter-spacing: -0.234375px;
    }
    .main-easybank-list{
        flex-direction: column;
    }
    .main-easybank-list__item{
        text-align: center;
    }
    .main-easybank-list__item:not(:last-child){
        margin-right: 0;
        margin-bottom: 32px;
    }
    .main-easybank-list__head{
        font-weight: 100;
        font-size: 20px;
        line-height: 28px;
        text-align: center;
        letter-spacing: -0.357143px;
    }
    .main-easybank-list__page{
        width: 327px;
        font-size: 15px;
        line-height: 25px;
        letter-spacing: -0.234375px;
    }
    .latest-articles{
        padding-left: 59px;
    }

    .latest-articles__head{
        font-weight: 100;
        font-size: 32px;
        line-height: 38px;
        text-align: center;
        letter-spacing: -0.571429px;
    }
    .latest-articles-list{
        flex-direction: column;
    }
    .latest-articles-list__item:not(:last-child){
        margin-right: 0;
        margin-bottom: 24px;
    }
    .site-footer{
        width: 450px;
    }
    .site-footer-wrraper{
        flex-direction: column;
    }
    .site-wrraper-list-content{
        margin: 0 auto;
        flex-direction: column;
    }
    .site-footer-wrraper-list{
        margin-top: 34px;
    }
    .site-wrraper-link--footer{
        margin-right: 37px;
    }
}
